@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("prpl.jpg");
    background-size: cover;
}

a {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

/* ----- HEADER BEGINNING ----------- */

header {
    height: 100px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    *color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 250ms ease;
}

nav ul li a:hover {
    color: #0ba2c0;

}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

nav .menu .menu-button {
    color: #0ba2c0;
    background-color: rgba(255, 255, 255, 0.13);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 55px;
    transition: all 250ms ease;

}

nav .menu .menu-button:hover {
    color: white;
    background-color: #0ba2c0;
}
/* ----- HEADER END ----------- */

/* -------- SECTION BEGINNING ----------- */
.content {
    color: white;
    height: calc(100vh - 100px);
    padding-top: 130px;
}

.content h1 {
    font-size: 60px;
    text-align: center;
}

.content p {
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
}

.content .links {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.content .links a {
    color: black;
    background-color: white;
    width: 280px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 55px;
    transition: all 250ms ease-in;
}

.content .links a:hover {
    background-color: #EC08F7;
    color: white;
}



/* ------------ SECTION END ------------- */


/* ----- RESPONSIVE BEGINNING ----------- */
    @media(max-width:700px) {
        .container {
            width: 100%;
            padding-left: 13px;
            padding-right: 13px;    
        }

        .menu ul {
            column-gap: 20px;
        }
        .menu .menu-button {
            display: none;
        }
        .content {
            padding-top: 50px;
        }
        .content h1 {
            font-size: 36px;
        }
        .content p {
            font-size: 16px;
        }
        .content .links {
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
        }
        .content .links a {
            padding: 14px;
            width: 90%;
        }
    }


/* --------- RESPONSIVE END ------------- */


